<%= form_with(model: record, local: true) do |form| %>
  <% if record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :weight %>
    <%= form.text_field :weight, placeholder: "Enter kg" %>
  </div>

  <div class="field">
    <%= form.label :height %>
    <%= form.text_field :height, placeholder: "Enter cm" %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, placeholder: "Enter diagnosis" %>
  </div>

  <div class="field">
    <%= form.label :pet_id %>
    <%= form.select(:pet_id, options_for_select(@pets_array), prompt: 'Select pet') %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
